/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

header {
  padding: 1.5rem 0;
}

header nav * {
  float: left;
}

header nav ul {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

header nav ul li {
  float: left;
  padding: 1rem;
}

header nav ul li a {
  display: block;
  font-size: 1.3rem;
}

header nav h2 {
  width: 20%;
  font-size: 2rem;
}

header nav > a {
  padding: 1rem;
  text-align: center;
  width: 20%;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: 00;
}

.hero {
  position: relative;
  clear: both;
  width: 100%;
  height: 70rem;
}

.hero-img {
  position: relative;
  background: url("/hero.jpg");
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  border-radius: 0 0 25% 55%;
}

aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  float: left;
  padding-top: 15rem;
  padding-left: 10rem;
}

.time {
  width: 2%;
  writing-mode: vertical-lr;
  position: absolute;
  bottom: 0;
  right: 0;
}

h1 {
  font-size: 7rem;
  color: white;
  padding-bottom: 2rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  line-height: 1.2;
}

aside h4 {
  padding-bottom: 3rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: white;
}

aside > a {
  display: block;
  width: fit-content;
  color: white;
  padding: 1.5rem 2rem;
  background-color: black;
  margin-bottom: 5rem;
}

.discount-box {
  width: fit-content;
  padding: 3rem 1.5rem;
  background-color: black;
  color: white;
}

.discount-box p span {
  display: inline-block;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.discount-box :nth-child(3) {
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

.discount-box a {
  color: black;
  padding: 1rem 2rem;
  background-color: white;
}

.time {
  color: white;
  top: 0;
  right: 0;
  padding-top: 15rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.arrows-container {
  position: absolute;
  right: 5%;
  bottom: 10%;
  height: 5;
  width: 7rem;
}

.arrow-left {
  display: inline-block;
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
}

.arrow-left i {
  margin-top: 1rem;
}

.arrow-right {
  display: inline-block;
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
}

.arrow-right i {
  margin-top: 1rem;
}

.arrows :nth-child(1) i {
  position: absolute;
}

.services-container {
  clear: both;
  padding: 2rem 10rem 0 15rem;
  text-align: center;
}

.services-container > div {
  width: 33.3333%;
  float: left;
  padding: 0 5rem;
  margin-bottom: 8rem;
}

.services-section div i {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.video-container {
  width: 100%;
  margin: 0 auto 5rem auto;
  clear: both;
  height: 40rem;
  background: rgb(241, 246, 252);
  padding-top: 10rem;
}

.video-left {
  float: left;
  width: 45%;
  padding-left: 20rem;
}

.video-left h2 {
  font-size: 3rem;
  line-height: 1.2;
  padding-bottom: 2rem;
}

.video-left p {
  padding-bottom: 3rem;
}

.video-left a {
  padding: 1rem 1.7rem;
  background: #000;
  color: white;
}

.video-right {
  width: 45%;
  padding-right: 20rem;
  float: right;
  height: 100%;
}

.video-bg {
  position: relative;
  background: url("/pompadour.jpg");
  height: 75%;
  background-repeat: no-repeat;
  background-size: cover;
}

.play-btn {
  position: absolute;
  height: 5rem;
  width: 5rem;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.play-btn i {
  position: absolute;
  height: 5rem;
  width: 5rem;
  color: white;
  font-size: 1.5rem;
  top: 35%;
  left: 40%;
}

/* .employees {
  width: 100%;
  border: 1px solid red;
  height: 30rem;
  padding: 0 5rem;
  margin-bottom: 5rem;
}

.employees div {
  width: 25rem;
  border: 1px solid blue;
  height: 100%;
  float: left;
  background: url("/alita.jpg");
  background-repeat: no-repeat;
  background-size: contain;
} */
/* MEDIA */

.employees {
  clear: both;
  padding: 2rem 10rem 0 15rem;
  width: 100%;
  height: 40rem;
  margin-bottom: 10rem;
}

.employees > div {
  position: relative;
  width: 29%;
  float: left;
  margin: 0 1rem;
  background: url("/alita.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.employees :nth-child(2) {
  background: url("/ayesha.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.employees :nth-child(3) {
  background: url("/smith.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.name {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 6rem;
  background-color: black;
  color: white;
  text-align: center;
}

.name p {
  margin-top: 1.8rem;
  font-size: 1.8rem;
}

.masonry-container {
  position: relative;
  width: 76%;
  padding: 2rem;
  columns: 3;
  margin: 0 auto;
  gap: 10px;
}

.image {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
}

.image img {
  width: 100%;
  object-fit: contain;
}

.our-lookbook {
  text-align: center;
  font-size: 3rem;
}
