/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

header {
  padding: 1.5rem 0;
}

header nav * {
  float: left;
}

header nav ul {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

header nav ul li {
  float: left;
  padding: 1rem;
}

header nav ul li a {
  display: block;
  font-size: 1.3rem;
}

header nav h2 {
  width: 20%;
  font-size: 2rem;
}

header nav > a {
  padding: 1rem;
  text-align: center;
  width: 20%;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: 00;
}

.hero {
  position: relative;
  clear: both;
  width: 100%;
  height: 70rem;
}

.hero-img {
  position: relative;
  background: url("/hero.jpg");
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  border-radius: 0 0 25% 55%;
}

aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  float: left;
  padding-top: 15rem;
  padding-left: 10rem;
}

.time {
  width: 2%;
  writing-mode: vertical-lr;
  position: absolute;
  bottom: 0;
  right: 0;
}

h1 {
  font-size: 7rem;
  color: white;
  padding-bottom: 2rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  line-height: 1.2;
}

aside h4 {
  padding-bottom: 3rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: white;
}

aside > a {
  display: block;
  width: fit-content;
  color: white;
  padding: 1.5rem 2rem;
  background-color: black;
  margin-bottom: 5rem;
}

.discount-box {
  width: fit-content;
  padding: 3rem 1.5rem;
  background-color: black;
  color: white;
}

.discount-box p span {
  display: inline-block;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.discount-box :nth-child(3) {
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

.discount-box a {
  color: black;
  padding: 1rem 2rem;
  background-color: white;
}

.time {
  color: white;
  top: 0;
  right: 0;
  padding-top: 15rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.arrows-container {
  position: absolute;
  right: 5%;
  bottom: 10%;
  height: 5;
  width: 7rem;
}

.arrow-left {
  display: inline-block;
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
}

.arrow-left i {
  margin-top: 1rem;
}

.arrow-right {
  display: inline-block;
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
}

.arrow-right i {
  margin-top: 1rem;
}

/* .arrows {
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  position: absolute;
  bottom: 10%;
  right: 10%;
  border-radius: 50%;
}

.arrows :nth-child(1) i {
  position: absolute;
  top: 35%;
  left: 35%;
  font-size: 1.4rem;
} */

.arrows :nth-child(1) i {
  position: absolute;
}
