* *,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  margin: 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.first-page-container {
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
}

header {
  height: 10%;
  width: 100%;
}

.logo {
  float: left;
  height: 100%;
  width: 15%;
  font-size: 2.5rem;
  padding-top: 1.5rem;
  padding-left: 2.5rem;
}

.logo a {
  color: black;
}

main ul {
  float: left;
  height: 100%;
  width: 70%;
}

main ul li {
  float: left;
}

main ul li a {
  display: block;
  font-size: 1.4rem;
  padding: 2.5rem;
  color: black;
}

main ul li a i {
  color: black;
}

header .btn-white {
  float: left;
  height: 100%;
  width: 15%;
  font-size: 1.4rem;
  padding: 2.5rem;
  color: black;
}

.burger {
  display: none;
}

@media screen and (max-width: 1095px) {
  header ul {
    padding-left: 3.5rem;
  }

  header ul li a,
  .btn-white {
    padding: 2.5rem 1.5rem;
  }
}

@media screen and (max-width: 1025px) {
  header ul {
    display: none;
  }

  .burger {
    display: block;
    float: right;
    font-size: 2rem;
    padding: 2rem;
  }

  .btn-white {
    display: none;
  }
}

.hero {
  height: 90%;
  background-image: url("/hero.jpg");
  background-position: top;
  background-size: cover;
  width: 100%;
  border-radius: 0 0 15% 55%;
}

.landing-left {
  float: left;
  height: 100%;
  width: 85%;
  padding-left: 10rem;
  padding-top: 10rem;
}

.arrows {
  float: left;
  height: 100%;
  width: 10%;
  border: 1px solid blue;
}

h1 {
  font-size: 7rem;
  color: white;
  padding-bottom: 2rem;
  font-weight: 100;
  letter-spacing: 0.5rem;
  line-height: 1.2;
}

.landing-left h4 {
  padding-bottom: 3rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: white;
}

.btn-left {
  display: block;
  width: fit-content;
  color: white;
  padding: 1.5rem 2rem;
  background-color: black;
  margin-bottom: 5rem;
}

.discount-box {
  width: fit-content;
  padding: 3rem 1.5rem;
  background-color: black;
  color: white;
}

.discount-box p span {
  display: inline-block;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.discount-box :nth-child(3) {
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

.discount-box a {
  color: black;
  padding: 1rem 2rem;
  background-color: white;
}

.arrows-container {
  float: left;
  height: 100%;
  width: 10%;
  padding-top: 40%;
}

.arrow-left {
  display: inline-block;
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 2.5rem;
  text-align: center;
}

.arrow-left i {
  margin-top: 1rem;
}

.arrow-right {
  display: inline-block;
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
}

.arrow-right i {
  margin-top: 1rem;
}

.time {
  float: left;
  height: 100%;
  width: 5%;
  writing-mode: vertical-lr;
  padding-left: 3rem;
}

.time p {
  color: white;
  top: 0;
  right: 0;
  padding-top: 15rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

@media screen and (max-width: 875px) {
  .landing-left {
    width: 95%;
  }

  .arrows-container {
    display: none;
  }

  .time {
    padding-left: 1rem;
  }

  .hero {
    background-position: top;
  }

  .landing-left h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 555px) {
  .time {
    display: none;
  }

  .landing-left {
    float: none;
    width: 100%;
    padding-left: 3rem;
  }

  .hero {
    background-position: top;
  }
}

.services-container {
  padding: 4rem 0rem 0 0%;
  text-align: center;
  height: 30%;
  margin: 2rem auto;
  width: 70%;
}

.services-container > div {
  width: 33.3333%;
  float: left;
  padding: 0 5rem;
}

.services-container h3 {
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

.services-section div i {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 850px) {
  .services-container > div {
    width: 100%;
    padding: 1rem 5rem;
  }

  .services-container p {
    margin: 0 auto;
    width: 60%;
  }
}

@media screen and (max-width: 550px) {
  .services-container {
    padding: 1rem 2rem;
  }
}

.video-container {
  width: 70%;
  margin: 0 auto;
  clear: both;
  height: 40%;
  background: rgb(241, 246, 252);
}

.video-left {
  float: left;
  width: 50%;
  height: 100%;
}

.video-left h2 {
  padding-top: 2rem;
  padding-left: 4rem;
  font-size: 2.2rem;
  line-height: 1.2;
  padding-bottom: 2rem;
}

.video-left p {
  width: 80%;
  padding-bottom: 3rem;
  padding-left: 4rem;
}

.video-left a {
  padding: 1rem 2rem;
  margin-left: 4rem;
  background: #000;
  color: white;
}

.video-right {
  float: left;
  width: 40%;
  height: 80%;
  margin-top: 3%;
  margin-left: 5%;
  background: url("/pompadour.jpg");
  background-size: cover;
}

.play-btn {
  height: 5rem;
  width: 5rem;
  background-color: black;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 25%;
}

.play-btn i {
  height: 5rem;
  width: 5rem;
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-top: 1.75rem;
}

@media screen and (max-width: 850px) {
  .video-container {
    width: 100%;
  }

  .video-container p {
    display: none;
  }
}

.hair-experts {
  width: 70%;
  height: 45rem;
  margin: 0 auto;
  padding-top: 5rem;
}

.hair-experts > div {
  float: left;
  width: 33.3333%;
  height: 75%;
}

.alita {
  background-image: url("/alita.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hair-experts :nth-child(2) {
  background-image: url("/ayesha.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hair-experts :nth-child(3) {
  background-image: url("/smith.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hair-experts span {
  display: block;
  color: white;
  font-weight: 200;
  font-size: 1rem;
  padding-top: 0.2rem;
}

.hair-experts h6 {
  text-align: center;
  padding-top: 1.5rem;
  background-color: black;
  color: white;
  width: 90%;
  height: 5rem;
  font-size: 1rem;
  margin: 0 auto;
  margin-top: 100%;
}

@media screen and (max-width: 850px) {
  .hair-experts {
    width: 100%;
  }

  .hair-experts p {
    display: none;
  }

  .hair-experts > div {
    float: left;
    width: 33.3333%;
    height: 90%;
  }
}

@media screen and (max-width: 625px) {
  .hair-experts h6 {
    display: none;
  }
}

.offer {
  margin: 0 auto;
  width: 70%;
  background-image: url("/hero.jpg");
  height: 45%;
  background-size: cover;
  padding: 8rem 0 4rem 4rem;
  margin-bottom: 6rem;
}

.offer h4 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.offer h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.offer span {
  font-size: 3rem;
}

.offer a {
  color: white;
  background-color: black;
  padding: 1.5rem 2.5rem;
}

.lookbook {
  text-align: center;
  font-size: 2.5rem;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.gallery {
  width: 70%;
  margin: 0 auto;
  height: 90%;
}

.gallery-left {
  float: left;
  height: 100%;
  width: 33.3333%;
}

.gallery-mid {
  float: left;
  height: 100%;
  width: 33.3333%;
}

.gallery-right {
  float: left;
  height: 100%;
  width: 33.3333%;
}

.gallery .gallery-left .img-short {
  float: left;
  width: 97%;
  height: 30%;
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: right;
}

.gallery-left .img-long {
  float: left;
  height: 66.66%;
  width: 97%;
  background-image: url("/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 3.33%;
}

.gallery-mid .img-short {
  float: left;
  width: 100%;
  height: 30%;
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: right;
}

.gallery-mid .img-long {
  float: left;
  height: 66.66%;
  width: 100%;
  background-image: url("/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 3.33%;
}

.gallery-right .img-short {
  float: left;
  width: 97%;
  height: 30%;
  margin-left: 3%;
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: right;
}

.gallery-right .img-long {
  float: left;
  height: 66.66%;
  width: 97%;
  background-image: url("/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 3.33%;
  margin-left: 3%;
}
