@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  height: 100vh;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --clr-light: #f5f9fc;
  --clr-dark: rgb(48, 70, 89);
  --clr-mid: #e1e9f0;
}

html {
  font-family: Roboto, sans-serif;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-size: 62.5%;
}

header {
  position: relative;
}

.nav {
  display: none;
}

.btn {
  display: none;
}

.menu {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 2.4rem;
  color: var(--clr-dark);
}

.menu:hover {
  cursor: pointer;
}

h2 {
  max-width: fit-content;
  margin: 1.5rem auto 1.5rem auto;
  font-size: 30px;
  color: var(--clr-dark);
  font-weight: 700;
}

.divider {
  height: 2px;
  background-color: var(--clr-mid);
}

.left-aside-title {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #889daf;
  padding: 3rem 1.2rem 2rem 1.2rem;
  font-weight: 700;
}

h3 {
  font-size: 4.2rem;
  line-height: 1;
  padding: 0 1.2rem 3rem 1.2rem;
}

form {
  margin: 0 1.2rem 3rem 1.2rem;
}

input {
  display: block;
  padding: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  border: none;
  background-color: #e1e9f0;
  font-size: 1.3rem;
  color: #97a9ba;
  font-weight: 500;
}

form button {
  border: none;
  text-align: center;
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  background: var(--clr-dark);
}

aside:last-of-type p {
  margin: 0 1.2rem 3rem 1.2rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.hero {
  padding-bottom: 5rem;
}

.feature,
.info {
  display: none;
}

@media only screen and (min-width: 901px) {
  .container {
    max-width: 1601px;
    margin: 0 auto;
  }

  header {
    position: static;
  }

  .menu {
    display: none;
  }

  .nav {
    display: block;
    margin: 0 auto;
    max-width: 50vw;
  }

  .nav ul {
    padding: 0;
    text-align: center;
  }

  .nav ul li {
    padding: 2rem;
    display: inline-block;
    list-style: none;
  }

  .nav ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--clr-dark);
  }

  h2 {
    float: left;
    padding: 0rem 2rem;
    margin-left: 3rem;
  }

  .btn {
    display: block;
    margin: 1rem 3rem;
    text-align: center;
    max-width: fit-content;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    background: var(--clr-dark);
    text-decoration: none;
    float: right;
  }

  .divider {
    clear: both;
    display: none;
  }

  .left-aside {
    padding: 0;
    margin: 0;
    max-width: 30%;
    float: left;
  }

  .left-aside p.left-aside-title {
    margin: 3rem 0 0 0;
    font-size: 1.4rem;
    font-weight: 700;
  }

  form input {
    float: left;
    max-width: 70%;
  }

  form button {
    float: right;
    max-width: 30%;
    padding: 0.65rem;
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
  }

  .left-aside p {
    clear: both;
  }

  .hero {
    max-width: 50%;
    float: right;
    margin-top: 3rem;
  }

  .feature {
    clear: both;
    float: left;
    display: block;
    padding-left: 18rem;
    padding-bottom: 5rem;
  }

  .feature section {
    max-width: 25%;
    float: left;
    padding-right: 5rem;
  }

  .feature i {
    font-size: 24px;
    padding: 1rem 0;
  }

  .feature h4 {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }

  .feature p {
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }

  .feature a {
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .info {
    display: block;
    max-width: 100%;
    float: left;
    clear: both;
    padding: 6rem 10rem 10rem 10rem;
    background-color: white;
  }

  .info h3 {
    max-width: 50%;
    padding-left: 7.5rem;
    padding-bottom: 3rem;
  }

  .info p {
    max-width: 50%;
    padding-left: 7.5rem;
    font-size: 1.6rem;
    color: #576b7e;
  }
}
